<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.app.mapper.TodoMapper">
  <select id="selectAll" resultType="com.todo.app.entity.Todo">
    select * from todo_items
  </select>
  
  <select id="selectTime" resultType="com.todo.app.entity.Todo">
    select * from todo_items where done_flg = 0 order by time_limit asc
  </select>
  <select id="selectTitle" resultType="com.todo.app.entity.Todo">
    select * from todo_items where done_flg = 0 order by title asc
  </select>
  
  <select id="selectPriority" resultType="com.todo.app.entity.Todo">
    select * from todo_items where done_flg = 0 order by priority asc
  </select>
  
  
  <select id="selectComplete" resultType="com.todo.app.entity.Todo">
    select * from todo_items where done_flg = 1
  </select>
  
  
  <insert id="add" parameterType="com.todo.app.entity.Todo">
    insert into todo_items (title,time_limit,priority)
    values (#{title},to_date(#{time_limit},'yy-mm-dd'),#{priority})
  </insert>

  <update id="update" parameterType="com.todo.app.entity.Todo">
    update todo_items set
      title = #{title},
      time_limit = to_date(#{time_limit},'yy-mm-dd'),
      done_flg = #{done_flg},
      priority = #{priority}
      where id = #{id}

  </update>
  <delete id="delete" parameterType="com.todo.app.entity.Todo">
      delete from todo_items where done_flg = 1
  </delete>
</mapper>









